<sui-message class="success" *ngIf="firstMsg">
  <div class="header">
    Change the default password.
  </div>
  <p>To protect your account, please change your password now.</p>
</sui-message>

<form class="ui form">
  <div class="six wide column field">
    <label>Current Password: </label>
    <input type="password" name="name" placeholder="Current Password" [(ngModel)]="pass.curr">
  </div>
  <div class="six wide column field">
    <label>New Password: </label>
    <input type="password" name="name" placeholder="New Password" [(ngModel)]="pass.newPass">
  </div>
  <div class="six wide column field">
    <label>Confirm Password: </label>
    <input type="password" name="name" placeholder="Confirm Password" [(ngModel)]="pass.confirm">
  </div>
  <button class="ui blue button" type="submit" (click)="submit()">Submit</button>
</form>
