<div class="ui center aligned grid">
  <div class="ui left aligned twelve wide column">
    <div class="ui segment">
      <div class="ui form left aligned">
        <div class="field">
          <label>I am specialized in :</label>
          <sui-multi-select class="selection"
                            [(ngModel)]="selectedOptions"
                            [isSearchable]="true"
                            [hasLabels]="true"
                            #multiSelect>
            <sui-select-option *ngFor="let option of options"
                               [value]="option">
            </sui-select-option>
          </sui-multi-select>
        </div>
      </div>
      <div class="field" style="padding-top: 5px">
        <div class="ui blue button" (click)="saveSpecial()">Save</div>
      </div>
    </div>
  </div>
  <div class="ui aligned eight wide column">

    <div class="ui segment" *ngIf="user.cvUploadedAt">
      <p>Last updated cv : {{user.cvUploadedAt | date:'medium'}}</p>
      Download Current version: <a href="/csv/{{user.index}}.pdf" target="_blank">here</a>
    </div>
    <div class="ui segment" *ngIf="!user.cvUploadedAt">
      <p>You don't have uploaded any CV yet.</p>
    </div>

    <div class="ui segment">
      <p>Please upload pdf file less than 2.00 MB</p>
      <div class="ui vertical animated button" tabindex="0">
        <div class="hidden content">
          <label for="cv">Upload</label>
        </div>
        <div class="visible content">
          <i class="upload icon"></i>
        </div>
      </div>
    </div>

    <input type="file" style="display: none;"
           (change)="upload()" id="cv" accept="application/pdf"/>

  </div>
</div>
