<div class="ui segments">
  <div class="ui segment">

    <div class="ui grid" *ngFor="let x of extra; let i = index">
      <div class="one wide column">{{i + 1}}</div>
      <div class="thirteen wide column">
        <div class="ui form">
          <textarea rows="2" class="fluid" [(ngModel)]="x.txt"></textarea>
        </div>
      </div>
      <div class="two wide column">
        <button class="circular ui basic red icon button" (click)="delete(i)">
          <i class="icon delete"></i>
        </button>
      </div>
    </div>

    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="thirteen wide column">
        <div class="ui form">
          <textarea rows="2" [(ngModel)]="newExtra" placeholder="Add New One"></textarea>
        </div>
      </div>
      <div class="two wide column">
        <button class="circular ui basic blue icon button" (click)="addNewOne()">
          <i class="icon add"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="ui bottom green attached button" tabindex="0" (click)="saveAll()">Save All</div>
</div>

<ng-template let-context let-modal="modal" #deleteModal>
  <div class="header">Delete ?</div>
  <div class="content">
    <p>Are you sure you want to delete this ?</p>
  </div>
  <div class="actions">
    <button class="ui green button" (click)="modal.deny(false)">Cancel</button>
    <button class="ui red button" (click)="modal.approve(true)" autofocus>DELETE</button>
  </div>
</ng-template>
