<div class="ui inverted vertical masthead center aligned segment" id="background">

  <div class="ui text container">
    <h1 class="ui inverted header">
      Department of Civil Engineering
      <div class="sub header">
        University of Moratuwa
      </div>
    </h1>
    <br>
    <div class="ui huge primary button" routerLink="/search">Go to CVs<i class="right arrow icon"></i></div>
  </div>

</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Who we are ?</h3>
        <p style="text-align: justify; text-indent: 50px">
          The department of Civil Engineering is the largest academic department in the campus which started its,
          postgraduate programmes as early as in 1976. with the assistance of UNESCO.
        <p style="text-align: justify; text-indent: 50px">
          The department was founded in 1978 when katubedda campus was converted in to University of Moratuwa and is
          operated under 6 main divisions all of which includes post graduate and research programs. From 1985 the
          department is housed in its own building complex of around 8000 m2. The main building comprises of student
          lecture rooms, staff rooms, purpose built laboratories, drawing studios and an auditorium which can
          accommodate 300 people. The rock mechanics lab is located in a separate building with 3 lecture room
          facilities and the Civil Engineering Research Centre completed in 2011 houses 2 more lecture halls, the
          Environmental Engineering laboratory, a GIS Centre and a canteen.

        </p>
        <p style="text-align: justify; text-indent: 50px">The new 3-storied building for the UNESCO Madanjeet Singh Centre for South Asia Water Management (UMCSAWM)
          attached to the Department of Civil Engineering has just been completed at a location adjacent to the other
          buildings of the Department, funded by the South Asia Foundation (SAF), with the objective of promoting
          regional cooperation through South Asian Water Management Education.</p>

      </div>
      <div class="six wide right floated column">
        <img src="../../../assets/images/uom.png" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>Vision</h3>
        <p>
          To be a centre of excellence of higher learning, research and related activities with emphasis on national
          relevance, international recognition, innovation and creativity in Civil Engineering.
        </p>
      </div>
      <div class="column">
        <h3>Mission</h3>
        <p>
          To develop educational programs that provide educational, research and professional experiences that enable
          our graduates to become leaders in their professional careers, to pursue excellence in research and to serve
          the profession, community and nation, and be competitive in the international arena.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <img src="../../../assets/images/ces.jpg" alt="">
  </div>
</div>


