<div class="ui fixed inverted menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="logo" src="../../../../assets/images/uom.png">
      CIVIL ENGINEERING SOCIETY
    </a>
    <a href="#" class="item">NEWS</a>
    <div class="right item">
      <!--<div class="ui action inverted left icon input">-->
        <!--<i class="search icon"></i>-->
        <!--&lt;!&ndash;<input type="text" placeholder="Search">&ndash;&gt;-->
      <!--</div>-->
      <button class="ui inverted button" routerLink="/search" style="margin-right: 5px;">Search</button>
      <a routerLink="/login" class="ui inverted button">Login</a>
    </div>

  </div>
</div>
