<div class="ui middle aligned center aligned grid">
  <div class="middle aligned six wide column">
    <h2 class="ui teal image header">
      <div class="content">
        Only UoM Student can access this
      </div>
    </h2>

    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="text" placeholder="UOM Index No" autocomplete="off"
             [(ngModel)]="usr.index">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="usr.password">
          </div>
        </div>
        <div class="ui fluid large teal submit button" (click)="login()">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
