<sui-accordion class="styled fluid" [closeOthers]="true">

  <sui-accordion-panel *ngFor="let x of myExperience; let i = index" [(isOpen)]="x.isOpen"
                       (isOpenChange)="initSeachBox(); selectedFirm = x.firm; selectedPosition = x.position;">
    <div title>
      <i class="dropdown icon"></i>
      {{x.title}}
    </div>
    <div content>
      <div class="ui form">

        <div class="ten wide field">
          <label>Firm</label>
          <div class="ui search firm">
            <!--<div class="ui icon input">-->
              <input class="prompt" type="text" placeholder="Firm"
                     name="search-firm" value="{{x.firm}}" (change)="selectedFirm = $event.target.value">
              <!--<i class="search icon"></i>-->
            <!--</div>-->
            <div class="results"></div>
          </div>
        </div>
        <div class="five wide field">
          <label>Position</label>
          <div class="ui search position">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Position"
                     name="search-position" value="{{x.position}}" (change)="selectedPosition = $event.target.value">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="two fields">
          <div class="five wide field">
            <label>From</label>
            <input type="text" name="from" placeholder="From" [(ngModel)]="x.from">
          </div>
          <div class="five wide field">
            <label>To</label>
            <input type="text" name="to" placeholder="To" [(ngModel)]="x.to">
          </div>
        </div>
        <div class="field">
          <sui-checkbox  [(ngModel)]="x.present" name="present">
          Currently working here.
        </sui-checkbox>
        </div>
        <button class="ui button blue" (click)="save(x, i)">SAVE</button>
        <button class="ui button red" (click)="delete(i)" [disabled]="x.title === 'Your Experience'">DELETE</button>
      </div>
    </div>
  </sui-accordion-panel>


</sui-accordion>
<br>
<button class="ui fluid active button" (click)="addNewExperience()">
  <i class="add icon"></i>
  Add New Experience
</button>

<ng-template let-context let-modal="modal" #deleteModal>
  <div class="header">Delete ?</div>
  <div class="content">
    <p>Are you sure you want to delete this ?</p>
  </div>
  <div class="actions">
    <button class="ui green button" (click)="modal.deny(false)">Cancel</button>
    <button class="ui red button" (click)="modal.approve(true)" autofocus>DELETE</button>
  </div>
</ng-template>
